extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Proin metus diam, aliquet at nulla quis, feugiat auctor est. Donec vel rutrum dui, ut iaculis quam. Nam in eros interdum, hendrerit risus id, congue lacus. Quisque fringilla ante ac ultrices tristique. Aenean vitae nisi eget augue convallis lobortis. Nunc ut dui diam. Donec tempus dapibus velit, id facilisis leo ultricies at. Vivamus semper, nisi sit amet posuere fermentum, sem nisl faucibus eros, a gravida quam dolor sed libero. Aliquam ex felis, accumsan a est sed, volutpat sodales dui. In vestibulum cursus augue, vitae facilisis nisi malesuada ac. Quisque gravida tellus ac odio maximus, ut ullamcorper odio dignissim.

                p Ut eget odio porta, varius ante a, lacinia mi. Cras vel nisl in tortor egestas dapibus. Etiam vitae placerat tortor, et ultrices enim. Mauris elit mi, elementum quis tellus et, fringilla blandit massa. Donec erat diam, fermentum at vehicula vel, ullamcorper eget urna. In nibh magna, finibus non lectus et, vestibulum blandit nibh. Maecenas aliquam, sapien quis lacinia consequat, ex neque mollis elit, sed blandit ante orci vitae nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam leo dui, elementum vitae pharetra ut, finibus id metus. Nam bibendum varius justo. Nam convallis, eros et blandit commodo, ipsum dolor vehicula erat, eget lobortis enim metus sit amet lacus. Nulla id consequat mi. Quisque in purus est. Maecenas sodales felis at nibh scelerisque, a vehicula tellus vehicula.


    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Phasellus a consectetur nibh. Nulla egestas fringilla molestie. Curabitur vitae accumsan eros. Nunc venenatis dui quam, et rhoncus tellus accumsan in. Donec nec sodales arcu. Nullam pellentesque pretium orci vitae pellentesque.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Phasellus a consectetur nibh. Nulla egestas fringilla molestie. Curabitur vitae accumsan eros. Nunc venenatis dui quam, et rhoncus tellus accumsan in. Donec nec sodales arcu. Nullam pellentesque pretium orci vitae pellentesque.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Phasellus a consectetur nibh. Nulla egestas fringilla molestie. Curabitur vitae accumsan eros. Nunc venenatis dui quam, et rhoncus tellus accumsan in. Donec nec sodales arcu. Nullam pellentesque pretium orci vitae pellentesque.